<div class="container">
<div class="buttons-container">
  <span>
  <div> <a class="btn btn-primary" href="{{ path('valeo_task.create_task_form')  }}" title="Create Task">{{ 'Create Task'|t }}</a></td> </div>
    </span>
  <span>
    {% if logged_in %}
  <div> <a class="btn btn-danger" href="{{ path('user.logout')  }}" title="logout">{{ 'Logout'|t }}</a></td> </div>
  {% else %}
  <div> <a class="btn btn-primary" href="{{ path('user.login')  }}" title="Login">{{ 'Login'|t }}</a></td> </div>
    {% endif %}

  </span>
</div>

  {% if projects is  empty %}
  <p class="empty-message"> There is no data found</p>
  {% else %}
  <table class="table table-sm project-table ">
  <thead>
  <tr class="table-danger">
    <th scope="col">Project</th>
    <th scope="col">Task</th>
    <th scope="col">Running</th>
    <th scope="col">Link</th>
  </tr>
  </thead>
  <tbody>
  {% for p in projects %}
    <tr class="">
      <th scope="row">{{ p.project_id }}</th>
      <td>

          {% for key,task in p.project_tasks %}
          <div class="tasks">
            <span> {{ key }}</span>

                <span class="margin-right-10">
                  {% for t in task %}
                  {% if t.task_status  == '0' %}
                    {% set status_indicator = 'fail'  %}
                  {% elseif t.task_status == '1' %}
                    {% set status_indicator = 'success '  %}
                  {% elseif t.task_status == '2' %}
                    {% set status_indicator = 'loading'  %}
                  {% endif %}
                  <span class="indicator-circle {{ status_indicator }}">  </span>
                  {% endfor %}
                </span>

          </div>
            {% endfor %}

      </td>
      {% if p.project_status == 1 %}
      <td> yes </td>
      {% else %}
        <td> no </td>
      {% endif %}
        <td> <a class="btn btn-round-border" href="{{ path('valeo_task.list_tasks' , {'project_id' : p.project_id })  }}" title="Project page">{{ 'Project page'|t }}</a></td>
    </tr>
  {% endfor %}
  {% endif %}
  </tbody>
</table>
</div>
