<div class="container">
  <table class="table table-sm">
    <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">occurrences</th>
      <th scope="col">Result</th>
      <th scope="col">Created At</th>
      <th scope="col">Started At</th>
      <th scope="col">Ended At</th>
    </tr>
    </thead>
    <tbody>
    {% if tasks is empty %}
      <p> There is no data found</p>
    {% else %}
      {% for t in tasks %}
        {% if t.task_status == '0' %}
          {% set status = 'fail' %}
          {% set rowClass = 'table-danger' %}
          {% set occurrences = t.occurrences  %}
        {% elseif t.task_status == '1' %}
          {% set status = 'pass' %}
          {% set rowClass = 'table-success' %}
          {% set occurrences = t.occurrences  %}
        {% elseif t.task_status == '2' %}
          {% set status = 'running' %}
          {% set rowClass = '' %}
          {% set occurrences = t.occurrences ~ '*' %}
        {% endif %}

        <tr class="{{ rowClass }}">
          <th scope="row">{{ t.task_id }}</th>
          <td> Count {{ t.task_type   }}</td>
          <td>{{ occurrences }}</td>
          <td>{{ status }}</td>
          <td>{{ t.created | date('Y-m-d H:i') }}</td>
          <td>{{ t.start_date | date('Y-m-d H:i')}}</td>
          <td>{{ t.end_date | date('Y-m-d H:i') }}</td>
        </tr>
      {% endfor %}

    {% endif %}

    </tbody>
  </table>
</div>
