<!-- ======= Footer ======= -->
<footer id="footer" class="container-fluid">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span> Valeo </span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->
