.buttons-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  padding: 7px 0;
  margin-bottom: 7px;
}

.page-title {
  margin: 30px 0;
}

.tasks {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  padding: 7px 0;
  margin-bottom: 7px;
}

.project-table .indicator-circle {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}

.project-table .success {
  background-color: green;
}
.project-table .fail {
  background-color: red;
}
.project-table .loading {
  background-color: orange;
}

.margin-right-10 {
  margin-right: 10px;
}

.empty-message {
  border: 1px solid #dee2e6;
  font-size: 36px;
  width: calc(100% - 50px);
  height: 300px;
  text-align: center;
  padding-top: 115px;
}


.create-task-form {
  border: 1px solid #dee2e6;
  padding: 30px 10px;
  margin: 80px 0;
}

footer {
  border: 1px solid #dee2e6;
  padding: 20px 10px;
}
