<section class="">
<div class="container">
    <div class="row row-margin-bottom">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="formPanel">
                    <div class="row box-shadow">
                        <div class="col-sm-4 col-xs-12 no-padding">
                            <div class="loginImage">
                                <div class="loginText">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12 no-padding">
                            <div class="userForm loginFrom">
                                <h2>login</h2>
                                <div class="formCard">
                                    <hr>
                                    <article class="card-body">
                                         {{ form }}
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

