<section class="">
    <div class="container">
        <div class="row row-margin-bottom">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <div class="formPanel">
                    <div class="row box-shadow">
                        <div class="col-xs-12 no-padding">
                            <div class="userForm loginFrom">
                                <h2>Registration</h2>
                                <div class="formCard">
                                    <hr>
                                    <span class="smallFont">fields with (*) are mandatory</span>
                                    <article class="card-body">
                                        {{ form }}
                                    </article>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
