{% include directory ~ '/templates/partials/header.html.twig' %}

<main role="main" class="container">
  {{ drupal_block('project_listing') }}
</main>

{% include directory ~ '/templates/partials/footer.html.twig' %}
